@import "tailwindcss";

@theme {
  --color-zzzYellow: #d8fa00;
}

.chess-background {
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.02) 25%, transparent 0 75%, rgba(255, 255, 255, 0.02) 0),
    linear-gradient(45deg, rgba(255, 255, 255, 0.02) 25%, transparent 0 75%, rgba(255, 255, 255, 0.02) 0);
  background-position:
    0 0,
    3px 3px;
  background-size: 6px 6px;
  background-repeat: repeat;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "HanYiQiHei";
  src: url("./HanYiQiHei-105-JianFan.otf") format("opentype");
  unicode-range: U+0000-024F, U+1E00-1EFF;
}

@font-face {
  font-family: "Hongmengti";
  src: url("./hongmengti.woff2") format("woff2");
  unicode-range:
    U+2E80-2FFF, U+3000-303F, U+3100-312F, U+31A0-31BF, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FE10-FE1F,
    U+FE30-FE4F, U+FF00-FFEF, U+20000-323AF;
}

:root {
  font-family: "HanYiQiHei", "Hongmengti", "Arial Black", "Segoe UI Black", sans-serif;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

*:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
}
