@import "tailwindcss";

@theme {
  @keyframes box-shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 #d9fa00;
    }
    40% {
      box-shadow: 0 0 0 8px #d9fa00;
    }
    60% {
      box-shadow: 0 0 0 0 #d9fa00;
    }
    100% {
      box-shadow: 0 0 0 0 #d9fa00;
    }
  }
  @keyframes scale-pulse {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.1);
    }
    60% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  --color-zzzYellow: #d8fa00;
  --iron-border: inset 0 1px 2px #fff3, inset 0 0 0 3px #666, inset 0 0 0 4px #333, inset 0 0 0 5px #000;
}

.chess-background {
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.02) 25%, transparent 0 75%, rgba(255, 255, 255, 0.02) 0),
    linear-gradient(45deg, rgba(255, 255, 255, 0.02) 25%, transparent 0 75%, rgba(255, 255, 255, 0.02) 0);
  background-position:
    0 0,
    3px 3px;
  background-size: 6px 6px;
  background-repeat: repeat;
}

.zzzButton {
  @apply hover:bg-zzzYellow h-12 rounded-full bg-[#111] px-4 py-2 font-bold shadow-(--iron-border) transition-all not-hover:bg-size-[4px_4px] not-hover:text-white hover:animate-[box-shadow-pulse_0.8s_cubic-bezier(0.25,0.1,0.75,1)_infinite] hover:text-black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.menuButton {
  @apply flex h-8 w-[97%] items-center justify-center rounded-full bg-[#333] inset-shadow-[1px_1px_0_#fff2] *:drop-shadow-[1px_2px_0_#fff1] hover:text-white;
}

.noscrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.title-decorator::before,
.title-decorator::after {
  @apply block h-[1em] shrink-0 bg-contain bg-no-repeat content-[''];
}
.title-decorator::before {
  @apply aspect-27/36 bg-[url('./prefix_decorator.png')];
}
.title-decorator::after {
  @apply aspect-55/32 bg-[url('./suffix_decorator.png')];
}

.modal-overlay {
  @apply fixed inset-0 z-50 flex size-full flex-col items-center justify-center gap-4 overflow-hidden bg-[repeating-linear-gradient(40deg,transparent_0_5px,rgba(255,255,255,.07)_5px_10px)] backdrop-brightness-20;
}

.overlay-stripe {
  background-image: repeating-linear-gradient(40deg, transparent 0 5px, rgba(255, 255, 255, 0.07) 5px 10px);
}

@font-face {
  font-family: "HanYiQiHei";
  src: url("./HanYiQiHei-105-JianFan.otf");
}

:root {
  font-family: "HanYiQiHei", sans-serif;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

*:focus {
  outline: none;
}
