@import "tailwindcss";

@theme {
  --animate-pulse: pulse 0.8s cubic-bezier(0.25, 0.1, 0.75, 1) infinite;
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #d9fa00;
    }
    40% {
      box-shadow: 0 0 0 8px #d9fa00;
    }
    60% {
      box-shadow: 0 0 0 0 #d9fa00;
    }
    100% {
      box-shadow: 0 0 0 0 #d9fa00;
    }
  }
}

button {
  @apply rounded-full px-4 py-2 font-bold text-white;
}

@layer utilities {
  .iron-border {
    @apply shadow-[inset_0_1px_2px_#fff3,inset_0_0_0_3px_#666,inset_0_0_0_4px_#333,inset_0_0_0_5px_#000];
  }
  .chess-background {
    @apply bg-[repeating-conic-gradient(#000_0%_25%,#141414_0%_50%)] bg-size-[4px_4px];
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.noscrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
